body {
    margin: 0;
    font-family: Tahoma;
    background: black;
    color: #00ff00;
    overflow: hidden;
}

.matrix {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://i.imgur.com/5JZ6F9K.gif");
    opacity: 0.15;
}

.container {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    cursor: pointer;
}

input {
    padding: 10px;
    background: black;
    border: 1px solid #00ff00;
    color: #00ff00;
}

.hidden {
    display: none;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid #003300;
    border-top: 5px solid #00ff00;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
